body {
    text-align: center;
    background-color: black;
}
div{
    
    background-color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
    max-width: 400px;
    padding: 20px 5px;
    margin: auto;
    border-radius: 25px;
}
button{
    border-radius: 10px;
    font-size: large;
    
}
input, select{
    border-radius: 10px;
}
label{
    font-size: 18px;
}
