#div1{
    
    background-color: black;
    max-width: 100px;
    padding: 70px 50px;
    margin: auto;
   
    
}
#div2{
    background-color: red;
    max-width: 10px;
    padding: 50px ;
    margin-bottom: 30px;
    border-radius: 50%;
    
}
#div3{
    background-color: yellow;
    max-width: 10px;
    padding: 50px ;
    margin-bottom: 30px;
    border-radius: 50%;
    
}
#div4{
    background-color: green;
    max-width: 10px;
    padding: 50px ;
    margin: auto;
    border-radius: 50%;
    
}
#div4:hover{
    filter: brightness(1.5);
}
#div3:hover{
    filter: brightness(1.5);
    
}
